<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>DEFAULT_SERVER_URL</key>
	<string>http://cam.lab</string>
	<key>DEFAULT_USERNAME</key>
	<string>admin</string>
	<key>DEFAULT_PASSWORD</key>
	<string>Minhmeo75321@</string>
</dict>
</plist>
